@import url('https://fonts.googleapis.com/css2?family=Righteous&family=Work+Sans:wght@100;300;400;600;800&display=swap');
*{
    box-sizing: border-box;
    font-family: 'Work Sans';
    margin: 0 ;
    padding: 0 ;
}

html{
    /* me permite deslizar cuando hago clic en los links del menu */
    scroll-behavior: smooth;
}

/* MENU */
.contenedor-header{
    background: #060606;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 99;
    text-align: center;
    justify-content:space-between;
    display: flex;
}
.contenedor-header header{
    max-width: auto;
    margin: auto;
    display: flex;
    justify-content:space-between;
    align-items: center;  
}

.contenedor-header header ul{
    display: flex;
    list-style:none;
}
.contenedor-header header ul li{
    text-align: center;
}

.contenedor-header header nav ul li a{
    color: #fff;
    margin: 0 15px;
    padding: 3px;
    transition: .5s;
    text-decoration: none;
}
.contenedor-header header nav ul li a:hover{
    color: #50D9FF;
    font-weight: bold;
}
.nav-responsive{
    background-color: #50D9FF;
    color:#fff;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    display: none;    
}
.nav-responsive:hover{
    background-color: #1CB698;
    color: #fff;
    transition: .5s;
}

/* SECCION PORTADA */
.portada{
    background: linear-gradient(to top, rgba(30,35,38,.8), rgb(15, 41, 56)),
    url(inmoviliaria-01.jpg);
    background-size: cover;
    height: 100vh;
    color: #fff;
    display: flex;
    align-items: center;
    position: relative;
    overflow: hidden;
}
.portada .particles-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
}
.portada .contenido-banner{
    position: relative;
    z-index: 1;
    padding: 20px;
    background-color: transparent;
    max-width: 500px;
    margin: auto;
    text-align: center;
    margin-top:13em;
    border-radius: 5%;
}
.portada .contenido-banner :hover {
    background-color: transparent; /* Nuevo color de fondo al hacer hover */
    color: #032c7c; /* Nuevo color del texto al hacer hover */
    transform: scale(1.05); /* Escala el contenido al 105% del tamaño original */
    transition: transform 0.5s ease-in-out; /* Transición del efecto anterior */
}
.portada .contenido-banner h1 :hover {
    color: #1CB698;
}
.portada .contenido-banner img{
    margin-top: 40px;
    display: block;
    width: 80%;
    margin: auto;
    border-radius: 50px;
}

.portada .contenido-banner:hover img {
    border: 10px solid #fff;
    transform: scale(1.05); /* Escala el contenido al 105% del tamaño original */
    transition: transform 0.3s ease-in-out;
}

.portada .contenido-banner h1{
    margin-top: 20px;
    font-size: 70px;
    font-family: 'Righteous';
}

.portada .contenido-banner h1:hover {
    transition: color 0.3s ease-in-out;
}

.portada .contenido-banner h2:hover {
    opacity: 0.7;
    transition: opacity 0.3s ease-in-out;
}
.portada .contenido-banner h2{
    font-size: 20px;
    font-weight: normal;
    color: #000;
}


/* SECCION INICIO */
.inicio{
    background: linear-gradient(to top, #032c7c, #1CB698),
    url(img-01.jpeg);
    display: grid;
    grid-template-columns:repeat(2,1fr);
    background-size: cover;
    background-position: center;
    color: #fff;
    display: flex;
    align-items: center;
    display: grid;
    width: 100%;
    padding: 5px 35px;
    text-align: center;
    
}

.inicio .contenido-banner{
    padding: 20px;
    max-width: 600px;
    margin:auto;
    text-align: center;
    display: inline-block;
    border-radius: 40px;

}
.inicio .contenido-banner img{
    
    display: block;
    width: 100%;
    margin: auto;
    border-radius: 50px;
    justify-content: center;
    align-items: center;
    padding: 20px;
    margin-top: 20px;
    margin-bottom: 20px;

}

.inicio .contenido-intro{
    padding: 20px;
    color: #000;
    margin: 2%;
    margin-right: 10%;
    text-align: center;
    border-radius: 40px;
}
.inicio .contenido-intro h1{
    color: #032c7c;
    margin-top: 40px;
    font-size: 42px;
    font-family: 'Righteous';
}
.inicio .contenido-intro p{
    font-size: 20px;
    font-weight:normal;
    padding: 3%;
}

/* SECCION CONTACTOS */

.contactos{
    background-image: url(contact.png);
    background-color: #032c7c;
    color: #fff;
    padding: 50px 0;
    
}
.contactos .contenido-seccion{
    max-width: auto;
    margin: auto;
    max-height: 100%;

}

.contactos h2{
    font-size: 48px;
    font-family: 'Righteous';
    text-align: center;
    padding: 20px 0;
}

.contactos .fila{
    display: flex; /* Usamos flexbox para crear una fila */
    justify-content:center; /* Espacio entre las columnas */
    flex-wrap: wrap; /* Las columnas se ajustan al ancho del contenedor */
    margin: 0 6%; /* Centramos el contenido */
    
}

.contactos .col{
    flex: 1; /* Las columnas se expanden para llenar el espacio */
    padding: 10px; /* Espacio entre las columnas si lo deseas */
    margin: 25px;
    display: flex;
    justify-content: center;

    
}

.contactos img{
    border-radius: 50px;
    padding-top: 0px;
    margin: 10% 0 0 0 ;
}
.contactos .fila input, .contactos .fila textarea{
    
    width: 100%;
    padding: 18px;
    border: none;
    margin-bottom: 20px;
    background-color: #252A2E;
    color: #fff;
    font-size: 18px;
    display: inline-block; /* Hace que los campos se muestren en línea */
    margin-right: 10px;
    border-radius: 5px;
}

.contactos button{
    cursor: pointer;
    background-color: transparent;
    border: 2px solid #fff;
    width: fit-content;
    display: block;
    margin: 0px auto;
    padding: 0px 22px;
    font-size: 16px;
    color: #fff;
    position: relative;
    z-index: 10;
}

.contactos button .overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background-color: #1CB698 ;
    z-index: -1;
    transition: 1s;
}
.contactos button:hover .overlay{
    width: 100%;
}
.contactos .col img{
    width: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom:25px ;

}

.contactos .col h3{
    margin-top: 8px;
    text-align: center;
}
.contactos .col h4{
    margin-top: 8px;
    text-align: center;
    color: #0c0c0d;

}


/* SOBRE MI */
.sobremi{
    margin-top: 100px;
    
}
.sobremi .contenido-seccion {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    position: relative;
    background: linear-gradient(to top, rgba(30,35,38,.8), rgb(15, 41, 56)),
    url(inmoviliaria-03.jpeg);
    background-size: cover;
    height:100%;
    color: #fff;
    display: flex;
    text-align: center;
    padding: 50px 80px;
}

.sobremi .contenido-seccion .fila {
    
    flex-basis: 50%; /* Para que ocupe el 50% del ancho en una fila de dos columnas */
    padding: 50px;
    text-align: justify;
}

.sobremi .contenido-seccion .col {
    flex-basis: 50%; /* Para que ocupe el 50% del ancho en una fila de dos columnas */
    padding: 20px;
    text-align: center;
}


/* SECCION MISION Y VISION */

.MisionVision .contenido-seccion {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    position: relative;
    background: linear-gradient(to top, rgba(30,35,38,.8), rgb(15, 41, 56)),
    url(inmoviliaria-03.jpeg);
    background-size: cover;
    height: 100%;
    color: #fff;
    display: flex;
    align-items: center;
    padding: 50px 80px;
}

.MisionVision .contenido-seccion .fila {
    flex-basis: 50%; /* Para que ocupe el 50% del ancho en una fila de dos columnas */
    padding: 90px;
    text-align: justify;
    width: 50%;
    
}
.MisionVision .contenido-seccion .fila h1{
    
    text-align: center;
}
.MisionVision .contenido-seccion  img{
    padding: 0 30%;
}
.MisionVision .contenido-seccion .col {
    flex-basis: 50%; /* Para que ocupe el 50% del ancho en una fila de dos columnas */
    padding: 80px;
    text-align: justify;
    width: 50%;
}
.MisionVision .contenido-seccion .col h1{
    
    text-align: center;
}


/* CHAT BOT */
.chatbot-container {
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 300px;
    z-index: 999; /* Asegura que el chatbot esté en la parte superior de otros elementos */
}

.chatbot-toggle {
    display: flex;
    justify-content: flex-end;
}

.chatbot {
    display: none;
    flex-direction: column;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    position: absolute; /* Hacer que el chatbot sea absoluto */
    z-index: 1000; /* Asegura que el chatbot esté por encima de otros elementos */
    bottom: 5px;
    right: 5px;
    height: 400px;
}


.chatbot-icon {
    width: 150px;
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.chatbot-icon img {
    width: 100%;
    border-radius: 50%;
}


.chat-header {
    background-color: #007BFF;
    color: #fff;
    padding: 12px;
    font-weight: bold;
    text-align: center;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}

.close-chatbot:focus {
    outline: none;
}

.chat-messages {
    padding: 10px;
    max-height: 300px;
    overflow-y:auto;
    flex: 1;
}

.chat-input {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding: 10px;
    width: 100%;
    box-sizing: border-box;
}
input[type="text"] {
    flex: 1;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-right: 10px;
}

button {
    padding: 5px 10px;
    border: none;
    background-color: #007BFF;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
}

/* Estilo básico para los mensajes del chatbot y el usuario */
.user-message {
    text-align: right;
    background-color: #007BFF;
    color: #fff;
    padding: 5px;
    border-radius: 5px;
    margin: 5px 10px;
}

.chatBot-message {
    text-align: left;
    background-color: #E5E5E5;
    color: #000;
    padding: 5px;
    border-radius: 5px;
    margin: 5px 10px;
}
.user-icon {
    float: right;
    margin-left: 10px;

}

.chatBot-icon {
    float: left;
    margin-right: 10px;
    z-index: 1;
}

/* POPUP */
.popup {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 50px;
    background: rgba(0, 0, 255, 0.441);
    border: 2px solid #09ebb2;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.2);
    z-index: 1000;
    border-radius: 6px;
    text-align: center;
    font-size: 20px;
}
.popup button{
    position: fixed;
    top: 0;
    left: 100%;
    transform: translate(-50%, -50%);
    border: none;
    border-radius: 50%;
}
/* SECCION FOOTER */
footer{
    display: flex;
     background-color: #21c798;
     color: #fff;
     padding: 20px 0 0px 0;
     text-align: center;
     position: relative;
     width: 100%;
     justify-content: center;
     height: 100%;
     flex-direction: column;
 }
 
 footer .wave#wave1 {
     z-index: 1000;
     opacity: 1;
     bottom: 0;
     animation: animateWave 4s linear infinite;
 }
 
 footer .redes{
     margin-bottom: 20px;
 }
 footer .redes a{
     color: #fff;
     display: inline-block;
     text-decoration: none;
     border: 1px solid #fff;
     border-radius: 100%;
     width: 42px;
     height: 42px;
     line-height: 42px;
     margin: 20px 5px;
     font-size: 20px;
     transition: .3s;
 }
 
 footer .arriba{
     display: block;
     width: 50px;
     height: 50px;
     background-color: #0b1e5d;
     border: 2px solid #fff;
     color: #fff;
     position: absolute;
     left: 50%;
     transform: translateX(-50%);
     top: -25px;
     border-radius: 50%;
     line-height: 50px;
     font-size: 18px;
 }

 
/* SECCION RESPONSIVE */
@media screen and (max-width:980px){
    nav{
        display: none;
    }
    .nav-responsive{
        display: block;
    }
    nav.responsive{
        display: block;
        position: absolute;
        right: 0;
        top: 75px;
        background-color: #00000072;
        width: 180px;
    }
    nav.responsive ul{
        display: block !important;
    }
    nav.responsive ul li{
        text-align: center;
        padding: 10px 0;
    }
    nav.responsive ul li ul li a{
        border-bottom: 1px solid #05c1ae;
        
    }
    nav.responsive ul li a{
        
        font-size: 12px;
    }

    .portada .contenido-banner{
        
        margin: 10em auto 0 auto;
        
    }
    .portada .contenido-banner h1{
        font-size: 50px;
    }

    .inicio{
        height: 100%;
        margin: 0px;
        padding: 0px;
    }
    .inicio .contenido-banner{
        margin:auto;

    }
    .inicio .contenido-banner img{
        
        width: 120%;
        margin-left: -3em;
    }
    .inicio .contenido-intro {
        margin-right: auto;
        margin-top: 0;
    }

     /* MISION */
     .MisionVision .contenido-seccion .fila {
        width: 100%;
        padding: 0 2em;
        
    }
    .MisionVision .contenido-seccion .col {

        width: 100%;
        padding: 0 2em;
        
    }
}


 

@media screen and (max-width:700px){
    .portada .contenido-banner{
        padding: 20px;
        max-width: 370px;
        margin: 11em auto 0 auto;
        border-radius: 5%;
    }
    .portada .contenido-banner h1{
        font-size: 50px;
    }

    /* INICIO */
    .inicio{
    height: auto;
    display: flex;
    flex-direction: column-reverse;
    padding: 2px 0;
    margin: 0px;
    }
    
    .inicio .contenido-banner{
        
        padding: 10px 0;
        margin-top: 5px ;
        max-width: 300px;
       
    }
    .inicio .contenido-banner img {
        
        width: min(200%,400px);
        height: auto;
        margin-left: -3em;
        margin-bottom: 0px;
    }

    .inicio .contenido-intro {
        margin-right: auto;
        margin-top: 0;
        margin: 0px;
        font-size: 13px;
    }
    .inicio .contenido-intro h1{
        margin-top: 2px;
        margin-bottom: 0px;
        font-size: 30px;
    }
    

    
    /* CONTACTO */
    .contactos .fila{
        display: block;
    }
    .contactos .fila .col{
        width: 90%;
    }
    .contactos .col img{
        width: 90%;
        margin: 0;
    }

    .contenido-seccion {
        flex-direction: column;
    }
    
    .fila, .col {
        flex-basis: 100%; /* Cambiar a ancho completo en una sola columna */
    }

    /* MISION */
    .MisionVision .contenido-seccion .fila {
        width: 100%;
        padding: 0;
        
    }
    .MisionVision .contenido-seccion .col {

        width: 100%;
        padding: 60px 0;
        
    }

}
